/* ****************************************
              HEADER
**************************************** */

.logo {
  height: 5rem;
  /* TODO: formatar a logo! Texto ao lado da imagem maybe */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f8d8bd; */
  background-color: #fdf2e9;

  color: #8a4c14;
  height: 9.6rem;
  /* Settando a altura pq depois faremos essa header sticky */
  padding: 0 4.8rem;
  position: relative;

  /* background-color: #e4b5a5; */
}

/* ****************************************
            NAVIGATION BAR
**************************************** */

/* Eh boa pratica sempre settar os links de navigation pra INLINE BLOCK (pra usar paddings depois) */
.main-nav-list {
  list-style: none;
  display: flex;
  /* font-size: 2rem; */
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* NAV STICKY */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  /* transition: all 0.3s ease-in; */
  animation: smooth-entrance 0.7s ease-out;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

@keyframes smooth-entrance {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* ****************************************
            HERO
**************************************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 6.4rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* ****************************************
             GALLERY
**************************************** */

.section-gallery {
  padding: 6.4rem 0 9.6rem 0;
}

.gallery-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  /* transition: all 0.3s; */
}

.gallery-item > .img-content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  /* transform: translateY(-100%); */
}

.gallery-item > img,
.gallery-item > .img-content {
  transition: 350ms ease-in-out;
}

.gallery-item:hover > img {
  transform: scale(1.1);
}

.gallery-item:hover > .img-content {
  opacity: 1;
  /* transform: translateY(0); */
}

/* ****************************************
             TESTIMONIAIS 
**************************************** */

.section-testimonials {
  background-color: #fdf2e9;
  padding: 6.4rem 0 9.6rem 0;

  /* display: grid;
  grid-template-columns: 55fr 45fr; */
  /*TODO:Talvez reavaliar o tamanho galeria / testimonials*/
  /* align-items: center; */
}

.testimonials-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 100px;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* ****************************************
            FOOTER
**************************************** */

.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-col {
  justify-self: center;
}

.social-col {
  justify-self: center;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.8rem;
  width: 2.8rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  /* margin-top: auto; */
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-style: none;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
